@media screen and (max-width:1400px) {
    #projects {
        margin-top: 350px;
    }
    #profile {
        height: 83vh;
        margin-bottom: 6rem; 
    }
    #about {
        display: contents;
    }
    .about-containers {
        flex-wrap: wrap;
    }
    #contact,#projects {
        height:fit-content
    }
    .text-container {
        text-align: justify;
        width: 65vw;
    } 
    #profile .section__pic-container {
        text-align: center;
    }
}

@media screen and (max-width:1200px) {

    #desktop-nav{
        display:none;
    }
    #hamburger-nav {
        display: flex;
    }
    #experience, .experience-details-container {
        margin-top: 2rem;
    }

    #profile,.section-container {
        display:block
    }

    .arrow{
        display: none;
    }
    .section, .section-container {
        height:fit-content;
    }
    section {
        margin: 0 5%;
    }

    .section__pic-container {
        width: 275px;
        height: 275px;
        margin: auto 2rem;
    }

    .about-containers {
        margin-top: 50px;
    }
    .details-container {
        padding:10px;
        margin-left:80px;
        margin-right:80px;
    }
    
}

@media screen and (max-width:600px) {
    #projects {
        margin-top: 30rem;
    }
    #contact,
    footer {
        height: 40vh;
    }

    #profile {
        height: 83vh;
        margin-bottom: 0;
    }
    article {
        font-size: 1rem;
    }
    footer nav {
        height:fit-content;
        margin-bottom: 2rem;
    }

    .about-containers, .contact-info-upper-container,.btn-container {
        flex-wrap: wrap;
    }

    .about-details-container {
        margin-top: 0;
    }

    .contact-info-container {
        margin: 0;
    }
    .contact-info-upper-container{
        margin:20px;
    }
    .contact-info-container p, .nav-links li a {
        font-size: 1rem;
    }
    .experience-sub-title {
        font-size: 1.25rem;
    }
    .logo {
        font-size: 1.5rem;
    }
    .nav-links {
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }

    .section__pic-container {
        justify-content: center;
        margin:auto;
    }

    .section__text__p2 {
        width: 1.25rem;
    }

    .title {
        font-size: 2rem;
    }


    .section-container {
        margin-top: 20px;
    }

    #experience .experience-details-container .details-container:first-child {
        height: 37rem;
    }

    #experience .experience-details-container .details-container:nth-child(2) {
        height:350px;
    }
    #about .section__pic-container {
        width: 300px;
        height: 300px;
    }
    .article-container {
        width: 300px;
        height: 300px;
    }  
    .project-img {
        width: 80%;
        height:80%;
    }

}